In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('C:/Users/Gianni Habchi/Desktop/MLops/project/project/src/mlproject/data/train.csv')
test = pd.read_csv('C:/Users/Gianni Habchi/Desktop/MLops/project/project/src/mlproject/data/test.csv')

In [3]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [9]:
test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [5]:
train.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [6]:
test.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
count,625134.000000,625134.000000,625134.000000,625134.000000,625134.000000,625134.000000
mean,1.534884,1.661765,-73.973614,40.750927,-73.973458,40.751816
std,0.498782,1.311293,0.073389,0.029848,0.072565,0.035824
min,1.000000,0.000000,-121.933128,37.389587,-121.933327,36.601322
25%,1.000000,1.000000,-73.991852,40.737392,-73.991318,40.736000
50%,2.000000,1.000000,-73.981743,40.754093,-73.979774,40.754543
75%,2.000000,2.000000,-73.967400,40.768394,-73.963013,40.769852
max,2.000000,9.000000,-69.248917,42.814938,-67.496796,48.857597

In [7]:
train.isna().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [8]:
test.isna().sum()

id                    0
vendor_id             0
pickup_datetime       0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
dtype: int64

In [27]:
len(train[train.trip_duration >= 3*60*60])

2112

In [23]:
len(train)

1458644

In [28]:
2112/1458644

0.0014479201230732104

In [29]:
def filter_trip_duration(data, min_sec=60, max_sec=10800):
    return data[(data["trip_duration"] >= min_sec) & 
                (data["trip_duration"] <= max_sec)]

In [31]:
clean_train = filter_trip_duration(train)

In [32]:
len(clean_train)

1447937

In [33]:
len(clean_train[train.trip_duration >= 3*60*60])

C:\Users\Gianni Habchi\AppData\Local\Temp\ipykernel_16664\710942491.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(clean_train[train.trip_duration >= 3*60*60])

0

In [35]:
len(clean_train[train.trip_duration < 60])

C:\Users\Gianni Habchi\AppData\Local\Temp\ipykernel_16664\2427080597.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  len(clean_train[train.trip_duration < 60])

0

In [37]:
clean_train.isna().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [42]:
train.duplicated().sum()

np.int64(0)

In [43]:
test.duplicated().sum()

np.int64(0)

In [44]:
train.store_and_fwd_flag.value_counts()

store_and_fwd_flag
N    1450599
Y       8045
Name: count, dtype: int64

In [45]:
test.store_and_fwd_flag.value_counts()

store_and_fwd_flag
N    621704
Y      3430
Name: count, dtype: int64

In [46]:
train.vendor_id.value_counts()

vendor_id
2    780302
1    678342
Name: count, dtype: int64

In [47]:
test.vendor_id.value_counts()

vendor_id
2    334374
1    290760
Name: count, dtype: int64

In [38]:
train.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663

In [41]:
type(train.pickup_datetime[1])

str

In [50]:
train.pickup_latitude.describe()

count    1.458644e+06
mean     4.075092e+01
std      3.288119e-02
min      3.435970e+01
25%      4.073735e+01
50%      4.075410e+01
75%      4.076836e+01
max      5.188108e+01
Name: pickup_latitude, dtype: float64

In [55]:
def convert_datetime(data, cols):
    for c in cols:
        data[c] = pd.to_datetime(data[c], errors="coerce")
    return data

data = convert_datetime(train, ["pickup_datetime", "dropoff_datetime"])

print(data.dtypes)
print(data)

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime      datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
dtype: object
                id  vendor_id     pickup_datetime    dropoff_datetime  \
0        id2875421          2 2016-03-14 17:24:55 2016-03-14 17:32:30
1        id2377394          1 2016-06-12 00:43:35 2016-06-12 00:54:38
2        id3858529          2 2016-01-19 11:35:24 2016-01-19 12:10:48
3        id3504673          2 2016-04-06 19:32:31 2016-04-06 19:39:40
4        id2181028          2 2016-03-26 13:30:55 2016-03-26 13:38:10
...            ...        ...                 ...                 ...
1458639  id2376096          2 2016-04-08 13:31:04 2016-04-08 13:44:02
1458640  id1049543          1 2016-01-10 07:35:15 2016-01-10 07:46:10
1458641  id2304944          2 2016-04-22 06:57:41 2016-04-22 07:10:25
1458642  id2714485          1 2016-01-05 15:56:26 2016-01-05 16:02:39
1458643  id1209952          1 2016-04-05 14:44:25 2016-04-05 14:47:43

         passenger_count  pickup_longitude  pickup_latitude  \
0                      1        -73.982155        40.767937
1                      1        -73.980415        40.738564
2                      1        -73.979027        40.763939
3                      1        -74.010040        40.719971
4                      1        -73.973053        40.793209
...                  ...               ...              ...
1458639                4        -73.982201        40.745522
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799
1458642                1        -73.982079        40.749062
1458643                1        -73.979538        40.781750

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  trip_duration
0               -73.964630         40.765602                  N            455
1               -73.999481         40.731152                  N            663
2               -74.005333         40.710087                  N           2124
3               -74.012268         40.706718                  N            429
4               -73.972923         40.782520                  N            435
...                    ...               ...                ...            ...
1458639         -73.994911         40.740170                  N            778
1458640         -73.970184         40.796547                  N            655
1458641         -74.004433         40.707371                  N            764
1458642         -73.974632         40.757107                  N            373
1458643         -73.972809         40.790585                  N            198

[1458644 rows x 11 columns]

In [56]:
train.pickup_datetime.describe()

count                          1458644
mean     2016-04-01 10:10:24.940037120
min                2016-01-01 00:00:17
25%      2016-02-17 16:46:04.249999872
50%                2016-04-01 17:19:40
75%      2016-05-15 03:56:08.750000128
max                2016-06-30 23:59:39
Name: pickup_datetime, dtype: object

In [69]:
clean_train = pd.read_csv('C:/Users/Gianni Habchi/Desktop/MLops/project/project/src/mlproject/data/train_clean.csv')

In [70]:
print(len(train))
print(len(clean_train))

1458644
1443718

In [71]:
df = train

In [72]:
print("Rows:", len(df))
print("Total missing values:", df.isna().sum().sum())
print("Duplicate rows:", df.duplicated().sum())

if "trip_duration" in df.columns:
    print("Trip_duration < 60:", (df["trip_duration"] < 60).sum())
    print("Trip_duration > 10800:", (df["trip_duration"] > 10800).sum())

loc_cols = ["pickup_latitude","dropoff_latitude","pickup_longitude","dropoff_longitude"]
if all(c in df.columns for c in loc_cols):
    same_loc = ((df["pickup_latitude"] == df["dropoff_latitude"]) &
                (df["pickup_longitude"] == df["dropoff_longitude"])).sum()
    print("Same pickup/dropoff:", same_loc)

Rows: 1458644
Total missing values: 0
Duplicate rows: 0
Trip_duration < 60: 8595
Trip_duration > 10800: 2112
Same pickup/dropoff: 5897

In [74]:
df = clean_train

print("Rows:", len(df))
print("Total missing values:", df.isna().sum().sum())
print("Duplicate rows:", df.duplicated().sum())

if "trip_duration" in df.columns:
    print("Trip_duration < 60:", (df["trip_duration"] < 60).sum())
    print("Trip_duration > 10800:", (df["trip_duration"] > 10800).sum())

loc_cols = ["pickup_latitude","dropoff_latitude","pickup_longitude","dropoff_longitude"]
if all(c in df.columns for c in loc_cols):
    same_loc = ((df["pickup_latitude"] == df["dropoff_latitude"]) &
                (df["pickup_longitude"] == df["dropoff_longitude"])).sum()
    print("Same pickup/dropoff:", same_loc)

Rows: 1443718
Total missing values: 0
Duplicate rows: 0
Trip_duration < 60: 0
Trip_duration > 10800: 0
Same pickup/dropoff: 0